.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: black;
  color: white;
}

.navigation a {
  color: inherit;
}

a.user-container {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
