.form {
  width: 500px;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.form-item {
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.error {
  color: red;
}
