.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  border: 2px black solid;
  height: 310px;
  width: 248px;
  margin: 4px;
  background-color: rgb(227, 219, 219);
}

.container{
  display: flex;
}

.card img{
  height: 140px
}

.avatar{
  display: flex;
  margin: 30px;
}

.avatar div{
  margin: 5px;
  background-color: orange;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.productCard {
  margin: 1rem;
  width: 20rem;
}

.productsTitle {
  display: flex;
  justify-content: center;
}

.category {
  font-size: 0.9rem;
  color: grey;
}

.price {
  font-weight: bold;
}