@import "../../styles/shadows.scss";

.profile-form {
  width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: $cardShadow;
  border-radius: 10px;

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
